<%= link_to "Highscore Top 10", top10_url %>

<div class="user-info">
  <% if signed_in? %>
    <div id="<%= dom_id(current_user) %>">
      <%= render 'application/user' if current_user %>
    </div>
  <% end %>
</div>
<div id=backpack>
  <%= render partial: 'backpack' %>
</div>
<div id="resources">
  <%= render partial: 'digging/resources', locals: { sand: @sand, item: @item } %>
</div>
<div id="dig-button">
  <%= render 'dig_button' %>
</div>
<% if current_user.can_level_up? %>
  <div id="exp-store">
    <%= render 'exp_store' %>
  </div>
<% end %>
