<!DOCTYPE html>
<html>
<head>
  <title>Spoonking</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav class="sidebar">
  <div id="<%= dom_id(current_user) %>">
    <%= render 'application/user' if current_user %>
  </div>
</nav>
<div class=" main
      ">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
